@inject IDataService dataService

<div class="dropdown">
    <select class="form-control" @onchange="OnCategoryChangedHandler">
        <option value="all">Все</option>
        @foreach (var category in CategoryList)
        {
            <option value="@category.NormalizedName">@category.Name</option>
        }
    </select>
</div>

@code {

    [Parameter]
    public Action<string> OnCategoryChanged { get; set; }

    private List<Category> CategoryList = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        dataService.DataLoaded += StateHasChanged;

        await dataService.GetCategoryListAsync();
        CategoryList = dataService.Categories;
    }

    private bool IsSelectedCategory(Category category)
    {
        return dataService.SelectedCategory?.NormalizedName == category.NormalizedName;
    }

    public void OnCategoryChangedHandler(ChangeEventArgs e)
    {
        var selectedNormalizedName = e.Value.ToString();

        if (selectedNormalizedName == "all")
        {
            selectedNormalizedName = null;
        }

        var selectedCategory = CategoryList.FirstOrDefault(c => c.NormalizedName == selectedNormalizedName);

        dataService.SelectedCategory = selectedCategory;

        OnCategoryChanged.Invoke(selectedNormalizedName);
    }
}