@inject IDataService DataService
@implements IDisposable

<div class="container">
	﻿<nav aria-label="navigation px-2" style="max-width">
		<ul class="pagination">
			<li class="page-item">
				<button class="btn btn-primary page-link" disabled="@IsFirstPage" @onclick="async () => await GoToPageAsync(CurrentPage - 1)">
					&laquo;
				</button>
			</li>
			@foreach (var pageN in Enumerable.Range(1, TotalPages))
			{
				<li class="page-item">
					<button class="btn btn-primary page-link @(pageN == CurrentPage ? "active" : "")" @onclick="async () => await GoToPageAsync(pageN)">@pageN</button>
				</li>
			}
			<li class="page-item">
				<button class="btn btn-primary page-link" disabled="@IsLastPage" @onclick=" async () => await GoToPageAsync(CurrentPage + 1)">
					&raquo;
				</button>
			</li>
		</ul>
	</nav>
</div>

@code {
	[Parameter]
	public int CurrentPage { get; set; } = 1;
	[Parameter]
	public string? Category { get; set; }
	private int TotalPages = 0;

	private bool IsFirstPage => CurrentPage == 1;
	private bool IsLastPage => CurrentPage == TotalPages;

	protected override async Task OnInitializedAsync()
	{
		DataService.DataLoaded += StateHasChanged;
		await DataService.GetProductListAsync(Category, CurrentPage);
		CurrentPage = DataService.CurrentPage;
		TotalPages = DataService.TotalPages;
	}

	public void Dispose()
	{
		DataService.DataLoaded -= StateHasChanged;
	}

	public async Task GoToPageAsync(int pageNo)
	{
		await DataService.GetProductListAsync(Category, pageNo);
		CurrentPage = DataService.CurrentPage;
		TotalPages = DataService.TotalPages;
	}
}
