@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() ?? string.Empty;
    var area = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower() ?? string.Empty;
}

<a class="navbar-brand" href="#">Title</a>

<div class="navbar-nav">
    <a class="nav-item nav-link @(controller == "home" ? "active" : "")" asp-controller="Home" asp-action="Index">Lab1</a>
    <a class="nav-item nav-link @(controller == "product" ? "active" : "")" asp-controller="Product" asp-action="Index">Catalog</a>
    <a class="nav-item nav-link @(area == "Admin" ? "active" : "")" asp-area="Admin" asp-page="/Index">Administration</a>
</div>
